.loginTitle{
    font-size: 15vh;
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px;
    color: white;
    transform: translate(0px, -0vh);
    animation: titleDrop 2s none;
}
@keyframes titleDrop {
    from{transform: translate(0px, -15vh);}
    to{transform: translate(0px, 0vh);}
}

.loginBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    .loginInfo{
        animation: loginSlide 3s none linear;
    }
    input{
        width: 25vw;
        height: auto;
        font-size: 50px;
        background: none;
        border: none;
        border-bottom: 2px solid black;
        color: white;
        text-align: center;
        transform: translate(0,0);
        opacity: 1;
        &:focus{
            outline: 0;
            border: 0;
            border-bottom: 2px solid black;
        }
        &::placeholder{
            color: white;   
        }
    }
    button{
        width: 25vw;
        height: auto;
        font-size: 50px;
        background-color: blueviolet;
        color: white;
        border-radius: 12px;
    }
}
@keyframes loginSlide {
    from{opacity: 0;}
    to{opacity: 1;}
}

.cardHolder{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    transform: translate(0px, -110vh);
    animation: cards 5s ease-in-out;
    animation-delay: 0s;
    .cardSets{
        display: flex;
        flex-direction: column;
        img{
            width: 15vw;
        }
    }
}
@keyframes cards {
    from{transform: translate(0px, -300vh);}
    to{transform: translate(0px, -110vh)}
}
