@import "./util/reset", "./util/variables", "./util/reset", "./util/mixins", "./util/game", "./util/nav", "./util/login", "./util/register", "./util/dashboard", "./util/welcome";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}