<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>9 Hole</title>
</head>

<body class="body">
    <!-- title of page -->
    <section>
        <h1 class="dashboardTitle">Dash Board</h1>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="burger" id="burger">
        <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
            d="M3 6h18M3 12h18M3 18h18" />
    </svg>
    <!-- adds nav to be opened when page opens -->
    <nav class="nav" id="nav">
        <div class="navContent">
            <!-- close button -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="x" id="close">
                <path fill="white"
                    d="M2.22 2.22a.749.749 0 0 1 1.06 0L6 4.939L8.72 2.22a.749.749 0 1 1 1.06 1.06L7.061 6L9.78 8.72a.749.749 0 1 1-1.06 1.06L6 7.061L3.28 9.78a.749.749 0 1 1-1.06-1.06L4.939 6L2.22 3.28a.749.749 0 0 1 0-1.06Z" />
            </svg>
            <!-- navigation links -->
            <!-- <div class="containerLink">
                <a href="index.html" class="navLink w-auto">Login</a>
            </div> -->
            <div class="containerLink">
                <a href="/users/dashboard" class="navLink w-auto">Dashboard</a>
            </div>
            <div class="containerLink">
                <a href="/users/logout" class="navLink w-auto">Logout</a>
            </div>
        </div>
    </nav>

    <section class='dashBoardSection'>
        <!-- the user info section -->
        <article id="userInfo">
            <aside>
                <h1 id="username"></h1>
                <p id="userGame" class="userInfo"></p>
                <p id="userWins" class="userInfo"></p>
                <p id="userLoses" class="userInfo"></p>
                <p id="userTies" class="userInfo"></p>
            </aside>

            <!-- button to play a game -->
            <button><a href="/users/game">Play Game</a></button>
        </article>


        <!-- leaderboard section -->
        <article id="leaderboard">
            <h1 id="leaderboardTitle">Leaderboard</h1>
            <ol class="top" id="scoreBoard">
                <li>User</li>
                <ul>
                    <li>Wins</li>
                    <li>Games</li>
                </ul>
                <li>Item</li>
            </ol>
        </article>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/dashboard.js"></script>
</body>

</html>