<!-- <h1>Noah Santos</h1>
<p>Create an account or login</p>
<a href="/users/register">Create Account</a>
<a href="/users/login">Log In</a> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/css/main.css">
    <title>9 Hole</title>
</head>

<body class="body">
    <!-- holds the welcome section -->
    <section class="welcomeSection">
        <!-- welcome title -->
        <h1 class="welcomeTitle">Welcome</h1>

        <!-- holds the two button links -->
        <article class="welcomeInfo">
            <button><a href="/users/register">Create Account</a></button>
            <button><a href="/users/login">Log In</a></button>
        </article>
    </section>
    <!-- <script src="./taskFile.js"></script> -->
</body>

</html>