body{
    // holds the home page of the website
    .dashBoardSection{
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: flex-start;
        // margin: 1rem;

        // section about the iser information
        #userInfo{
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            // background-color: #636363;
            color: white;
            width: 40%;
            height: 75%;
            padding: 1rem;

            // edits the section that holds the information
            aside{
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: #636363;
                color: white;
                width: 100%;
                height: 70%;
                padding: 1rem;

                // edits the user's information
                .userInfo {
                    font-size: 3rem;
                    padding: 1rem;
                }
            
                // edits the current user's name
                #username {
                    font-size: 4rem;
                    padding: 1rem;
                }
            }

            // button to start a game
            button{
                border-radius: 1rem;
                background-color: white;

                // edits text inside button
                a {
                    font-size: 3rem;
                    text-decoration: none;
                    padding: 1rem;
                    color: black;
                }
            }
        }

        // holds the leaderboard
        #leaderboard{
            border-radius: 1rem;
            display: flex; 
            flex-direction: column;
            // text-align: center;
            background-color: #636363;
            color: white;
            width: 40%;
            height: 75%;

            // title for leaderboard section
            #leaderboardTitle{
                text-align: center;
                font-size: 4rem;
                padding: 1rem;
            }

            // edits the list of people
            .top{
                padding-left: 3rem;
                width: 50%;
                display: block;
                // flex-direction: column;
                font-size: 2rem;

                // gets bullet points to show
                li{
                    display: list-item;
                    list-style-position: inside;
                }

                // indents the sub information
                ul{
                    margin-left: 1rem;
                }
            }
        }
    }

    // edits the title of the page
    .dashboardTitle {
        font-size: 5rem;
        // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin: 20px;
        color: white;
        transform: translate(0px, -0vh);
        animation: titleDrop 1s none;
    }
}
