// sets the background image
#gameBody {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(rgb(0, 189, 0), rgb(0, 156, 0), rgb(0, 99, 0));

    // edits the text for the winner
    .winnerText{
        display: flex;
        justify-content: space-around;
        position: absolute;
        align-items: center;
        width: 100vw;

        h1{
            color: white;
            font-size: 4rem;
        }
    }

    // edits the card that was selected
    #pickedCard{
        width: 10.7vw;
        margin: 0.5vw;
        height: auto;
        display: none;
        position: absolute;
        z-index: 9;
        pointer-events: none;
    }

    // edits the board that the cards are displayed on
    .board {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
        transition: all .5s;

        // holds the deck and discard pile
        .centerCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // individual card
            .card {
                width: 10.7vw;
                margin: 0.5vw;
                height: auto;
                z-index: 5;
            }
        }

        // holds the players board
        .playerBoard {
            display: flex;
            flex-direction: column;
            margin: 0vw 5vw 0vw 5vw;

            // holds a row of cards
            .row {
                display: flex;
                flex-direction: row;
        
                // individual card
                .card {
                    width: 10.7vw;
                    margin: 0.5vw;
                    height: auto;
                    z-index: 5;
                }
            }
        }
    }

    // container to hold the button at the bototm of the screen
    #btnDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        position: relative;
        z-index: 8;
        transform: translate(0px, -62.4vh);
        // position: absolute;
        transition: all 0.5s;

        // styles the next turn button
        .mainBTN {
            width: 80vw;
            height: auto;
            font-size: 180px;
            border-radius: 10px;
            background-color: #636363;
            z-index: 2000;
            /* transform: translate(0px, -300px); */
            transition: all 0.5s;
        }
    }
}