// edits section of the page
.loginBody{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 1, 0.5), rgba(0, 0, 1, 0.5)), url('../../images/loginBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    margin: 0;
    padding: 0;

    // edits the section holding login stuff
    .loginSection{
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        // edits the title of the page
        .loginTitle {
            font-size: 5rem;
            text-align: center;
            margin: 20px;
            color: white;
            transform: translate(0px, -20vh);
            animation: titleDrop 1s 0.5s none;
            animation-fill-mode: forwards;
        }
    
        // section for the information
        .loginBlock {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 20%;
    
            // edits the login info section
            .loginInfo {
                animation: loginSlide 3s 0.5s none linear;
                opacity: 0;
                animation-fill-mode: forwards;
                display: flex;
                flex-direction: column;

                // edits the individual input sections
                input {
                    width: 100%;
                    height: auto;
                    font-size: 50px;
                    background: none;
                    border: none;
                    text-align: center;
                    border-bottom: 2px solid rgb(255, 255, 255);
                    color: rgb(255, 255, 255);
                    transform: translate(0, 0);
                    opacity: 1;
                    margin: 1rem;
            
                    &:focus {
                        outline: 0;
                        border: 0;
                        border-bottom: 2px solid rgb(255, 255, 255);
                    }
            
                    &::placeholder {
                        color: rgb(255, 255, 255);
                    }
                }
            }
    
            button{
                color: black;
                font-size: 2rem;
                // width: 50%;
                padding: .5rem;
                border-radius: 1rem;
            }


        }
    }

}

// gets the title to slide downwards
@keyframes titleDrop {
    from {
        transform: translate(0px, -15vh);
    }

    to {
        transform: translate(0px, 0vh);
    }
}

// does the opacity of the information inputs
@keyframes loginSlide {
    from {opacity: 0;}

    to {opacity: 1;}
}

// // // does the sliding of the cards
// // @keyframes cards {
// //     from{transform: translate(0px, -300vh);}
// //     to{transform: translate(0px, -90vh)}
// // }
