body {

    // edits the burger for the nav bar
    .burger {
        margin: {
            left: 1rem;
            top: 0.5rem;
        }

        width: 5vw;
        height: auto;
        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: 2;
    }

    // edits the nav section and makes it not visible
    nav {
        height: 100%;
        width: 28%;
        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: 10;
        transform: translateX(-100%);
        background-color: #3e3e3e;
        transition: all .5s;

        // edits the content of the nav section
        .navContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10rem;
            height: 40%;

            // close button for the nav
            .x {
                position: absolute;
                top: 0;
                left: 0;
                width: 5vw;
                height: auto;

                margin: {
                    top: 1rem;
                    left: 1rem;
                }

                display: none;
            }

            .containerLink {
                // padding-top: 5vh;
                width: fit-content;

                // edits the links within the nav
                .navLink {
                    text-decoration: none;
                    justify-content: center;
                    color: white;
                    font-size: 3.5vw;
                    background-color: transparent;
                    border: none;
                    // display: none;

                    padding: {
                        top: 1vh;
                        bottom: 1vh;
                    }
                }
            }
        }
    }
}